body {
  margin: 2% auto;
  background-image: url("img/fondo.jpg");
}
body .cont1, body .cont3 {
  width: 40%;
  border: solid 10px;
  border-radius: 15px;
  padding-bottom: 3%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-family: "Pangolin", cursive;
  font-size: 20px;
  font-weight: bold;
  background-color: #F8E0E6;
}
body .cont1 h1, body .cont3 h1 {
  font-family: "Pacifico";
  font-size: 40px;
  color: #0080FF;
  margin: 0%;
}
body .cont1 .cinput, body .cont3 .cinput {
  width: 90%;
}
body .cont1 input, body .cont3 input {
  width: 95%;
  height: 20px;
  border: solid 3px #FE2E9A;
  font-family: "Pangolin", cursive;
  font-size: 18px;
  font-weight: bold;
}
body .cont1 .btn, body .cont3 .btn {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin-left: 5%;
}
body .cont1 .btn button, body .cont3 .btn button {
  height: 35px;
  background-color: orangered;
  border: none;
  border-radius: 12px;
  color: whitesmoke;
  margin-bottom: 8px;
  font-family: "Pangolin", cursive;
  font-size: 20px;
}
body .cont1 .btn button:hover, body .cont3 .btn button:hover {
  background-color: orange;
}
body .cont1 #ups, body .cont3 #ups {
  width: 90%;
  background-color: lightcoral;
  color: crimson;
  padding: 0%;
  margin-top: 15px;
  margin-left: 5%;
  border-radius: 12px;
}
body .cont2 {
  position: absolute;
  width: 40%;
  height: 90%;
  border: solid 10px;
  border-radius: 15px;
  padding: 0% 8% 5% 8%;
  margin-left: 20%;
  text-align: center;
  font-family: "Pangolin", cursive;
  font-size: 20px;
  background-color: rgba(255, 255, 255, 0.5);
}
body .cont2 h2 {
  font-family: "Pacifico";
  font-size: 40px;
  color: #0080FF;
  margin: 0%;
  margin-bottom: 0%;
}
body .cont2 .hola p {
  margin: 0px;
  font-size: 25px;
}
body .cont2 .find p {
  margin: 0px;
}
body .cont2 .find .int {
  color: #0080FF;
  font-weight: bold;
}
body .cont2 .find .lev {
  margin-bottom: 5%;
}
body .cont2 img {
  width: 20%;
  border: solid 2px orange;
}
body .cont2 .flip {
  transform: rotateY(180deg);
  transform-style: preserve-3d;
  transition: all 0.5s linear;
}
body .cont2 .noPointer {
  pointer-events: none;
}
body .cont2 .grey {
  opacity: 0.5;
  color: rgba(255, 255, 255, 0.5);
}
body .cont2 .try {
  background-color: whitesmoke;
  width: 88%;
  display: flex;
  justify-content: center;
  margin: auto;
  border: solid 4px #0080FF;
  border-radius: 12px;
  padding-top: 10px;
  padding-bottom: 10px;
}
body .cont2 .try span {
  color: orange;
}
body .cont3 {
  position: relative;
  height: 40%;
  border: solid 5px;
}
body .cont3 button {
  display: flex;
  justify-content: center;
  margin: auto;
  text-align: center;
  height: 15%;
  width: 35%;
  background-color: orange;
  border: none;
  border-radius: 12px;
  color: whitesmoke;
  margin-bottom: 8px;
  font-family: "Pangolin", cursive;
  font-size: 20px;
  padding: 2%;
}
body .cont3 button :hover {
  background-color: orangered;
}
body .cont3 table {
  border-collapse: collapse;
  width: 70%;
  margin: auto;
}
body .cont3 table td {
  border: 1px solid black;
  text-align: center;
}
body .hide {
  display: none;
}

/*# sourceMappingURL=styles.css.map */
