body {
  margin: 0.5% auto;
  background-image: url("img/fondo.jpg");
}
body .cont1, body .cont3 {
  width: 35%;
  border: solid 10px;
  border-radius: 15px;
  padding-bottom: 3%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-family: "Pangolin", cursive;
  font-size: 20px;
  font-weight: bold;
  background-color: #F8E0E6;
}
body .cont1 h1, body .cont3 h1 {
  font-family: "Pacifico";
  font-size: 40px;
  color: #0080FF;
  margin: 0%;
}
body .cont1 .cinput, body .cont3 .cinput {
  width: 80%;
}
body .cont1 input, body .cont3 input {
  width: 80%;
  height: 20px;
  border: solid 3px #FE2E9A;
  font-family: "Pangolin", cursive;
  font-size: 18px;
  font-weight: bold;
}
body .cont1 .btn, body .cont3 .btn {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: auto;
}
body .cont1 .btn button, body .cont3 .btn button {
  height: 35px;
  background-color: orangered;
  border: none;
  border-radius: 12px;
  color: whitesmoke;
  margin-bottom: 8px;
  font-family: "Pangolin", cursive;
  font-size: 20px;
}
body .cont1 .btn button:hover, body .cont3 .btn button:hover {
  background-color: orange;
  cursor: pointer;
}
body .cont1 #ups, body .cont3 #ups {
  width: 90%;
  background-color: lightcoral;
  color: crimson;
  padding: 0%;
  margin-top: 15px;
  margin-left: 5%;
  border-radius: 12px;
}
body .cont2 {
  position: absolute;
  width: 50%;
  height: 90%;
  border: solid 10px;
  border-radius: 15px;
  padding: 0% 2% 2% 2%;
  margin-left: 20%;
  text-align: center;
  font-family: "Pangolin", cursive;
  font-size: 17px;
  background-color: rgba(255, 255, 255, 0.5);
}
body .cont2 h2 {
  font-family: "Pacifico";
  font-size: 30px;
  color: #0080FF;
  margin: 0px;
}
body .cont2 .hola {
  margin: 0px;
  padding: 0px;
}
body .cont2 .hola p {
  font-size: 17px;
  margin: 0px;
}
body .cont2 .find {
  margin: auto;
  font-size: 15px;
}
body .cont2 .find p {
  margin: 0px;
}
body .cont2 .find .int {
  color: #0080FF;
  font-weight: bold;
}
body .cont2 .find .lev {
  margin-bottom: 10px;
}
body .cont2 .contenido {
  width: 100%;
  padding: none;
  height: auto;
}
body .cont2 .contenido img {
  width: 19%;
  height: 18%;
  border: solid 2px orange;
  cursor: pointer;
}
body .cont2 .contenido .flip {
  transform: rotateY(180deg);
  transform-style: preserve-3d;
  transition: all 0.5s linear;
}
body .cont2 .contenido .grey {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
}
body .cont2 .contenido .try {
  background-color: whitesmoke;
  width: 88%;
  display: flex;
  justify-content: center;
  margin: auto;
  margin-top: 1%;
  border: solid 4px #0080FF;
  border-radius: 12px;
  padding-top: 7px;
  padding-bottom: 7px;
}
body .cont2 .contenido .try span {
  color: orange;
}
body .cont3 {
  position: relative;
  width: 30%;
  height: 40%;
  border: solid 5px;
}
body .cont3 .playAgain {
  display: flex;
  justify-content: center;
  margin: auto;
  text-align: center;
  height: 20%;
  background-color: orange;
  border: none;
  border-radius: 12px;
  color: whitesmoke;
  margin-bottom: 8px;
  font-family: "Pangolin", cursive;
  font-size: 15px;
  padding: 2%;
}
body .cont3 table {
  border-collapse: collapse;
  margin: auto;
}
body .cont3 table td {
  border: 1px solid black;
  text-align: center;
}
body .hide {
  display: none;
}

@media only screen and (max-width: 768px) {
  body {
    font-size: 12px;
    margin: auto;
  }
  body .cont1 {
    width: 70%;
  }
  body .cont1 button {
    margin-left: 10%;
  }
  body .cont2 {
    margin-left: 5%;
    width: 80%;
    height: auto;
  }
  body .cont2 .contenido {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  body .cont2 .contenido img {
    width: 25%;
  }
  body .cont3 {
    width: 80%;
  }
  body .cont3 button {
    width: 80%;
  }
  body .cont3 tr {
    width: 80%;
  }
}

/*# sourceMappingURL=styles.css.map */
