body{
    margin: 2% auto;
    background-image: url("img/fondo.jpg");
    
    .cont1, .cont3{
        width: 40%;
        border: solid 10px;
        border-radius: 15px;
        padding-bottom: 3%;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        font-family: 'Pangolin', cursive;
        font-size: 20px;
        font-weight: bold;
        background-color: #F8E0E6;

        h1{
            font-family: 'Pacifico';
            font-size: 40px;
            color: #0080FF;
            margin: 0%;
        }
        .cinput{
            width: 80%; 
        }
        input{
            width: 80%;
            height: 20px;
            border:solid 3px #FE2E9A;
            font-family: 'Pangolin', cursive;
            font-size: 18px;
            font-weight: bold;
        }
        .btn{
            display: flex;
            flex-direction: column;
            width: 80%;
            margin:auto;
           button{
               height: 35px;
               background-color: orangered;
               border: none;
               border-radius: 12px;
               color: whitesmoke;
                margin-bottom: 8px;  
                font-family: 'Pangolin', cursive;
                font-size: 20px;
            }
            button:hover{
                background-color: orange;;
            }
        }
        #ups{
            width: 90%;
            background-color: lightcoral;
            color: crimson;
            padding:0%;
            margin-top: 15px;
            margin-left: 5%;
            border-radius: 12px; 
        }
    }

    .cont2{
        position: absolute;
        width: 60%;
        height:auto;
        border: solid 10px;
        border-radius: 15px;
        padding: 0% 2% 5% 2%;
        margin-left: 18%;
        text-align: center;
        font-family: 'Pangolin', cursive;
        font-size: 17px;
        background-color: rgba(255, 255, 255, 0.5);
        
        
        h2{
            font-family: 'Pacifico';
            font-size: 35px;
            color: #0080FF;
            margin: 0%;
            margin-bottom: 0%;
        }

        .hola{
            p{
                margin: 0px;
                font-size: 20px;
            }
        }
        .find{
            p{
                margin: 0px;
            }
            .int{
                color:  #0080FF;
                font-weight: bold;
            }
            .lev{
                margin-bottom: 5%;
            }
        }

        .contenido {
            width: 100%;
            padding: 0%;
            height: 50%;
                img{
                    width: 20%;
                    border: solid 2px orange;
                
                }
                .flip{
                    transform: rotateY(180deg);
                    transform-style: preserve-3d;
                    transition: all 0.5s linear;
                }

                .noPointer {
                    pointer-events: none;
                }
            
                .grey{
                    filter: grayscale(100%);
                     -webkit-filter: grayscale(100%);
                }

                .try{
                    background-color: whitesmoke;
                    width: 88%;
                    display: flex; 
                    justify-content: center;
                    margin: auto;
                    margin-top: 2%;
                    border: solid 4px #0080FF;
                    border-radius: 12px;
                    padding-top: 10px;
                    padding-bottom: 10px;

                    span{
                        color: orange;
                    }
                }
             }
    }
    .cont3{
            position: relative;
            width: 30%;
            height: 40%;
            border: solid 5px;

            .playAgain{
                    display: flex;
                    justify-content: center;
                    margin: auto;
                    text-align: center;
                    height: 20%;
                    background-color: orange;
                    border: none;
                    border-radius: 12px;
                    color: whitesmoke;
                    margin-bottom: 8px;  
                    font-family: 'Pangolin', cursive;
                    font-size: 15px;
                    padding: 2%;
                    .playAgain:hover{
                        background-color: orangered;
                    }
            }
            table{
                border-collapse: collapse; 
                margin: auto;
                td{
                    border: 1px solid black;
                    text-align: center;
                }
            }
    }
    .hide {
        display:none;
    }
}

@media only screen and (max-width: 768px){

    body{
        font-size: 12px;
        margin: auto;
        .cont1{
            width: 70%;
            button{
                margin-left: 10%;
            }
        }
    
        .cont2{
            margin-left: 5%;
            width: 80%;
            .contenido{
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                img{
                    width: 25%;
                }

            }
        }
        
        .cont3{
            width:80%;
        button{
        width: 80%;
        }
        tr{
           width: 80%;
        }

    }
    }
 }
